body{
	background-image: url("a.jpg");
}
#primary_nav_wrap
			{
				margin-top:10px
				color: white;
				
			}

			#primary_nav_wrap ul
			{
				list-style:none;
				position:relative;
				float:right;
				margin:0;
				padding:0
			}

			#primary_nav_wrap ul a
			{
				display:block;
				color:#fff;
				text-decoration:none;
				font-weight:600;
				font-size:12px;
				line-height:20px;
				padding:0 10px;
				font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
			}

			#primary_nav_wrap ul li
			{
				position:relative;
				float:left;
				margin:0;
				padding:0;
			}
			#primary_nav_wrap ul li:hover
			{
				background:#444;
				transition: 0.5s;
				transform: scale(1.05);
			}

			#primary_nav_wrap ul ul
			{
				display:none;
				position:absolute;
				top:100%;
				left:0;
				background:#444;
				padding:0
			}

			#primary_nav_wrap ul ul li
			{
				float:none;
				width:90px
			}

			#primary_nav_wrap ul ul a
			{
				line-height:100%;
				padding:10px 0px
			}

			#primary_nav_wrap ul ul ul
			{
				top:0;
				left:100%
			}
			#primary_nav_wrap ul ul li
			{
				float:none;
				width:120px
			}

			#primary_nav_wrap ul ul ul a
			{
				line-height:100%;
				padding:10px 0px
			}


			#primary_nav_wrap ul li:hover > ul
			{
				display:block;
			}